<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harambee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,900italic,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="container">
      <main>
        <section class="landing-top">
          <!-- Nav begins -->
          <nav>
            <ul>
              <li><a href="#">Login</a></li>
            </ul>
          </nav>
          <!-- Nav ends   -->
          <section class="landing-main">
            <section>
              <img src="../public/images/Logo.svg" alt="Harambee Logo" class="landing-top-img" />
              <h1>Harambee</h1>
              <h2>Social sharing made easy</h2>
              <ul>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Learn More</a></li>
              </ul>
            </section>
          </section>
        </section>
        <section>
          <p>
            Lorem ipsum dolor sit amet, vis utinam abhorreant elaboraret ne, elit timeam ex sed, posse nostrum atomorum in est. Id impetus consetetur vis. No clita ceteros ius, propriae rationibus repudiandae mei ut. Sit accumsan omittantur eloquentiam ut, reque scaevola usu no, odio blandit elaboraret mel ad.

Pri cu suavitate iudicabit reprimique, omnesque scribentur necessitatibus qui ea. Vidit porro iuvaret qui ei. Est eu quot reprimique, vide quando voluptatibus et his. Quo id incorrupte definitiones, omnes constituto quo at, nibh oportere persecuti an vim. Sit nihil iriure aeterno in, ludus feugiat eu mel. Sit id lobortis assentior, numquam admodum no vis.

Cu eam wisi aeterno, in mel invidunt incorrupte vituperatoribus, qui omnium percipitur ne. In sea reque equidem nominati, eu cum facilisis democritum adolescens. Pri no prodesset philosophia, et integre adipiscing quo. Ut nam option bonorum minimum. At duo nobis admodum, eu nec invenire partiendo deterruisset. Prompta alterum in pro. Cu quaestio inciderint definitionem pri, posse prodesset consetetur his at, per ne ferri evertitur.

Abhorreant elaboraret te eum, facilis facilisi quaerendum et cum. Has an putant accusata. Vim alia ubique menandri eu, te per aliquid persequeris, vix aliquando ullamcorper ad. Sit ad labore mnesarchum, id odio interpretaris vim, te has prompta luptatum salutandi. Sanctus omittam ei eos.
          </p>
        </section>
      </main>
    </div>
  </body>
</html>
