<% include partials/header %>
  <div class="container">
    <div class="row">
      <h1 class="text-center">Profile Page</h1>

        <a href="/">Go back</a>
      </div>
    </div>
  </div>
<% include partials/footer %>
